<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}



<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>

    <div class="article-wrap">
	
      {{ content }}
      <script>
	    (function($){
		$(window).on("load",function(){
		    $("body").mCustomScrollbar({
		        theme:"inset-dark",
		        mouseWheel:{enable:true}
		    });
		});   
	    })(jQuery);
	</script>
<!--      <div class="mCustomScrollbar" data-mcs-theme="inset-dark" style="height:300px;width:700px;font:25px/30px;font-face: Inherit; overflow:auto;">-->
<!--	    	<h2>What's new with me?</h2>-->
<!--        ⭐️ <span style="font-weight: bold;">[June 2021]</span>  <span style="color:red;"> !NEW! ♨️ ♨️</span> Excited to start as an Applied Scientist Intern at Amazon Alexa AI, Cambridge, UK. -->
<!--		<br/><br/>-->
<!--        ⭐️ <span style="font-weight: bold;">[June 2021]</span>  <span style="color:red;"> !NEW! ♨️ ♨️</span> Co-organized the <a href="https://sites.google.com/view/wicvcvpr2021/home">Women in Computer Vision (WiCV) Workshop</a> at CVPR 2021!-->
<!--		<br/><br/>-->
<!--    ⭐️ <span style="font-weight: bold;">[Mar 2021]</span> Invited talk at CoSInE: Conference for Scientists, Innovators and Engineers on Ethics and Bias in AI. -->
<!--		<br/><br/>-->
<!--    ⭐️ <span style="font-weight: bold;">[July 2020]</span> Our work accepted to the <a href="https://openreview.net/forum?id=f75kMo1dnKD">VIPriors Workshop</a> at ECCV 2020. -->
<!--		<br/><br/>-->
<!--	        ⭐️ <span style="font-weight: bold;">[Sept 2019]</span> Awarded the Graduate Student Fellowship for my PhD studies by the School of Informatics, University of Edinburgh.-->
<!--		<br/><br/>-->
<!--	        ⭐️ <span style="font-weight: bold;">[Sept 2019]</span>  Started my PhD at the University of Edinburgh! Scotland is beautiful.-->
<!--		<br/><br/>-->
<!--		⭐️ <span style="font-weight: bold;">[June 2019]</span> Attended CVPR-2019. Many interesting oral and poster sessions on Language and Reasoning, Recognition, and Few-Shot Learning.-->
<!--		<br/><br/>-->
<!--		  ⭐️ <span style="font-weight: bold;">[February 2019]</span> Our work on Social Relationship Recognition using Graphs accepted at <strong>CVPR, 2019</strong>. Thanks and congrats to Keng Teck and Cheston. -->
<!--		<br/><br/>-->
<!--		⭐️ <span style="font-weight: bold;">[February 2019]</span> Our work on predicting listener empathic responses over time accepted at <a href= "https://www2.informatik.uni-hamburg.de/wtm/omgchallenges/FGWorkshop2019_Program.html"> <strong>2019 14th IEEE International Conference on Automatic Face & Gesture Recognition </strong> (FG 2019)</a>.-->
<!--		<br/><br/>-->
<!--		⭐️ <span style="font-weight: bold;">[December 2018]</span> Won second position in the OMG-Empathy Prediction challenge. Check the <a href="https://www2.informatik.uni-hamburg.de/wtm/omgchallenges/omg_empathy2018_results2018.html#"> Leaderboard</a> for more information. Congrats to Desmond, Xuan and Son. Great team effort.-->
<!--		<br/><br/>-->
<!--		⭐️ <span style="font-weight: bold;">[June 2018]</span> Sponsored by A*STAR to attend the <a href="http://mlss2018.net.ar/">Machine Learning Summer School</a> in Buenos Aires, Argentina. The most amazing two weeks of brainstorming and networking. Buenos Aires is definitely Bohemic! -->
<!--		<br/><br/>-->
<!--		⭐️ <span style="font-weight: bold;">[January 2018]</span> Started as a Research Engineer in <a href="https://www.a-star.edu.sg/ihpc/">Institute of High Performance Computing</a> and A*STAR AI Initiative, Singapore.-->
<!--		<br/><br/>-->
<!--		⭐️ <span style="font-weight: bold;">[August 2017]</span> Succesfully completed my Bachelor Thesis from NTU and IIIT Allahabad with First Class Honours.-->
<!--		<br/><br/>-->
<!--		⭐️ <span style="font-weight: bold;">[Jan 2017]</span> Joined Nanyang Technological University, Singapore as a Research Assistant, under <a href="https://www.ntu.edu.sg/home/assklam/">Prof. Lam Siew Kei</a>.  The main focus of the project was fast and efficient vehicle detection in videos. -->
<!--<br/>-->
<!--    </div>&lt;!&ndash; /.article-wrap &ndash;&gt;-->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
